/* Desktop */

.page {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.blackOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.mainContainer {
    position: relative;
    z-index: 2;
    padding: 50px;
}
.logoContainer {
    width: 130px;
    height: 50px;
}
.logoImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}